// responsive
html {
   scroll-behavior: smooth;
 }
body {
  background: $black-primary;
  font-family: $font-main-regular;
  color: $text-grey;
}
.page-background {
  position: fixed;
  top: 0;
  background-repeat: no-repeat;
}
.page {

  &.homepage {
    height: 100vh;
    overflow: hidden;
  }

  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}
main#main {
  position: relative;
  z-index: 1;
}
.body {
  p {
    margin-bottom: 20px;
  }
  strong {
    color: $gold;
  }
  ul {

    li {
      list-style: initial;
      margin-left: 20px;
    }
  }
}
.button {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;
  border: 1px solid $black-secondary;
  text-align: center;
  line-height: 60px;
  @include transition(1s all ease);
  cursor: pointer;

  &.round {
    background: transparent;
    border-radius: 50%;
    color: white;

    &:hover {
      width: 80px;
      height: 80px;
      line-height: 80px;
      border-color: $gold;
    }
  }
}

@media #{$small-and-down} {
  // styles for small screens and down
}
@media #{$medium-and-up} {
  // styles for medium screens and larger
}
@media #{$medium-and-down} {
  // styles for medium screens and down
}
@media #{$large-and-up} {
  // styles for large screens and up
}
@media #{$extra-large-and-up} {
  // styles for extra large screens and up
}
