$font-main-regular: 'Antartica-regular';
$font-main-bold: 'didot-medium';
$font-main-italic: 'didot-light';

$black: #0d0d0d;
$black-primary: #111;
$black-secondary: #222;
$black-thrid: #333;

$text-grey: #999;
$text-white: #222;
$silver-bg: #c48f03;

$gold: #c48f03;
$silver: linear-gradient(to right, #dab703, #c48f03);

@keyframes shine {
  0% { transform:translateX(-100%) translateY(-100%) rotate(30deg) }
  80% { transform:translateX(-100%) translateY(-100%) rotate(30deg) }
	100% { transform:translateX(100%) translateY(100%) rotate(30deg) }
}
