$font-main-regular: 'Antartica-regular';
$font-main-bold: 'didot-medium';
$font-main-italic: 'didot-light';

$black: #0d0d0d;
$black-primary: #111;
$black-secondary: #222;
$black-thrid: #333;

$text-grey: #999;
$text-white: #222;

$gold: #c2910e;
